.pagination {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__button {

    @include reset-button;
    @include square(24px);
    @include flex-center;

    color: var(--color-light);

    @include hover {
      color: var(--color-accent);
    }

    &.is-current {
      color: var(--color-accent);
    }

    svg {
      @include square(14px);
    }
  }
}