.team-card {
  padding: 40px 35px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-lg);
  border: var(--border);
  box-shadow: var(--shadow);
  height: 100%;

  @include mobile {
    padding-inline: 50px;
  }

  &__header {
    --teamCardHeaderMarginBottom: 28px;

    @include mobile {
      --teamCardHeaderMarginBottom: 20px;
    }

    position: relative;
    display: flex;
    align-items: end;
    justify-content: start;
    column-gap: 20px;
    padding-bottom: var(--teamCardHeaderMarginBottom);
    margin-bottom: var(--teamCardHeaderMarginBottom);
    border-bottom: 1px solid var(--color-dark);
  }

  &__name {
    @include fluid-text(20, 18);
  }

  &__link {
    @include flex-center;
    @include square(34px);

    position: absolute;
    right: 0;
    top: 0;
    flex-shrink: 0;
    align-self: start;
    background-color: var(--color-dark);
    border-radius: 50%;
    color: var(--color-accent);

    @include hover {
      opacity: 0.7;
    }
  }
}