.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);

  // отступы снаружи контейнера по горизонтали авто
  margin-inline: auto;

  // отступы внутри контейнера по горизонтали
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}